#cadre {
    position: absolute;
    top: 100;
    left:100;
    width:300;
    height:150;
    filter: brightness(40%);
    border: 2px dotted gray;
    display:none;
  } 
.corner{
    position: absolute;
    width:5px;
    height: 5px;
    background-color : black;
  }
.tl{
    top : 0;
    left : 0;
    cursor: nwse-resize;

}
.bl{
    bottom : 0;
    left : 0;
    cursor: nesw-resize;

}
.tc{
    top : 0;
    left : 50%;
    cursor: ns-resize;

}
.bc{
    bottom : 0;
    left : 50%;
    cursor: ns-resize;

}
.lc{
    top : 50%;
    left : 0;
    cursor: ew-resize;

}
.rc{
    top : 50%;
    right : 0;
    cursor: ew-resize;
}
.tool a:hover{
    text-decoration: none;
}
